.game-container {
  text-align: center;
  background-color: #2b700d;
  padding: 20px;
  border-radius: 10px;
}

.player-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.player {
  margin: 0 20px;
}

.player h3 {
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.card-image {
  height: 150px;
  display: block;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 10px;
}

.deck-size {
  text-align: center;
  margin-top: 15px;
  font-size: 1rem;
}

.buttons-container {
  margin-top: 20px;
}

button {
  font-size: 1rem;
  border-radius: 30px;
  margin: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* left card */
.player:nth-child(1) .card-image {
  transform-origin: bottom left;
}

/* right card */
.player:nth-child(2) .card-image {
  transform-origin: bottom right;
}

.card-fall-animation-right {
  animation: fall-right 0.75s ease-in-out forwards;
}

@keyframes fall-right {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(90deg);
  }
}

.card-fall-animation-left {
  animation: fall-left 0.75s ease-in-out forwards;
}

@keyframes fall-left {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-90deg);
  }
}

.card-battle-animation-left {
  animation: battle-left .5s ease-in-out forwards;
}

@keyframes battle-left {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(45deg)
  }
  100% {
    transform: rotate(0);
  }
}

.card-battle-animation-right {
  animation: battle-right .5s ease-in-out forwards;
}

@keyframes battle-right {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-45deg)
  }
  100% {
    transform: rotate(0);
  }
}

.player-wins-animation {
  animation: player-wins infinite 2.5s linear;
}

@keyframes player-wins {
  0% {
    transform: rotate(0);
    transform-origin: bottom center;
  }
  25% {
    transform: rotate(-45deg);
    transform-origin: bottom center;
  }
  50% {
    transform: rotate(0deg);
    transform-origin: bottom center;
  }
  75% {
    transform: rotate(45deg);
    transform-origin: bottom center;
  }
  100% {
    transform: rotate(0);
    transform-origin: bottom center;
  }
}