button {
  font-size: 1rem;
  border-radius: 30px;
  margin: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.header {
  padding: 20px;
}

.logo {
  padding-bottom: 20px;
}

.pageLinks{
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  background-color: #9c3422;
}

.loginDetails {
  flex-basis: 25%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.loginLink {
  flex-basis: 25%;
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.gameLink{
  flex-basis: 50%;
}